<!doctype html>
<html class='no-js' lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='x-ua-compatible' content='ie=edge'>
    <title>Gevent Quickstart</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/static/styles.css'>
  </head>
  <body class='container'>
    <header>
      <div id='buttons'>
        <button class='btn btn-primary task'>Start task</button>
        <button class='btn btn-info info'>Show info</button>
        <button class='btn btn-success beat'>Toggle heart beat</button>
      </div>

      <form>
        <input placeholder='Type a message' autofocus>
      </form>
    </header>

    <div id='output'></div>

    <!-- SCRIPTS -->
    <script src='https://code.jquery.com/jquery-3.1.1.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.5.2/randomColor.min.js'></script>
    <script src='/static/main.js'></script>
  </body>
</html>
